# Prisma
# https://www.prisma.io/docs/reference/database-reference/connection-urls#env
DATABASE_URL="postgresql://postgres:vJStxrPMILWmlf8O@localhost:5433/potion"

# Next Auth
NEXTAUTH_SECRET="8Hj6e8D/w2dwfj1xgMxXF0LhRgDGMQxG+oqQ389GMdg="
NEXTAUTH_URL="https://localhost:3000"

# Next Auth Discord Provider
DISCORD_CLIENT_ID=""
DISCORD_CLIENT_SECRET=""

GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""

NEXT_PUBLIC_VAPID_PUBLIC_KEY=""
VAPID_PRIVATE_KEY=""
